*{
    margin: 0px;
    padding: 0px;
}
body{
background: url(bg.jpg )  no-repeat center center fixed; 
background-size: cover;
opacity: 0.9;
}
.container{
    color:  white ;
    position: absolute;
    top: 21%;
    left: 42%;
}
.container h1{
    display: inline-block;
    font-family: "Fredoka", sans-serif; 
    font-size: 41px;
    border-bottom: 5px solid purple;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 28px 3px;
}
.box i{
    width: 12px;
    padding: 0px 12px;
    text-align: center;
}
.box input{
    font-family: "Merriweather", serif;
    background: none;
    width: 77%;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 0px;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    width: 29%;
    margin: 5px 95px;
    padding: 6px;
    border: 2px solid purple;
    border-radius: 14px;
    font-weight: bolder;
    font-size: 18px;
    background: none;
}
.btn:hover{
    color: purple;
    background: white;
}

.register p{
  margin: 5px 44px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.register a{
    display: block;
    font-size: 19px;
    padding-top: 10px;
    margin: 0px 100px;
    color: yellow;
    font-family: "Merriweather", serif;

}
.register a:hover{
   
    color: red;
}